parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$data of method App\\\\Modules\\\\Reservation\\\\Domain\\\\Contracts\\\\ReservationCreatorInterface\\:\\:handle\\(\\) expects array\\{date_from\\: string, date_to\\: string, asset_id\\: Ramsey\\\\Uuid\\\\UuidInterface\\|null\\}, array given\\.$#"
			count: 1
			path: app/Modules/Reservation/Application/Http/Controllers/ReservationController.php

		-
			message: "#^Parameter \\#1 \\$properties of method App\\\\Modules\\\\Reservation\\\\Domain\\\\Contracts\\\\ReservationModelManagerInterface\\:\\:newInstance\\(\\) expects array\\{non\\-empty\\-string, mixed\\}, array\\{date_from\\: non\\-empty\\-string, date_to\\: non\\-empty\\-string\\} given\\.$#"
			count: 1
			path: app/Modules/Reservation/Domain/Services/ReservationCreator.php

		-
			message: "#^Default value of the parameter \\#1 \\$properties \\(array\\{\\}\\) of method App\\\\Modules\\\\Reservation\\\\Infrastructure\\\\ReservationModelManager\\:\\:newInstance\\(\\) is incompatible with type array\\{non\\-empty\\-string, mixed\\}\\.$#"
			count: 1
			path: app/Modules/Reservation/Infrastructure/ReservationModelManager.php

		-
			message: "#^PHPDoc tag @return contains unresolvable type\\.$#"
			count: 1
			path: app/Modules/Slot/Domain/Contracts/DataTransferObjects/SlotDtoCollection.php

		-
			message: "#^Parameter \\#1 \\$groupBy of method Illuminate\\\\Support\\\\Collection\\<int,App\\\\Modules\\\\Slot\\\\Domain\\\\Contracts\\\\DataTransferObjects\\\\SlotDto\\>\\:\\:groupBy\\(\\) expects array\\|\\(callable\\(App\\\\Modules\\\\Slot\\\\Domain\\\\Contracts\\\\DataTransferObjects\\\\SlotDto, int\\)\\: \\(int\\|string\\)\\)\\|string, Closure\\(App\\\\Modules\\\\Slot\\\\Domain\\\\Contracts\\\\DataTransferObjects\\\\SlotDto\\)\\: Ramsey\\\\Uuid\\\\UuidInterface given\\.$#"
			count: 1
			path: app/Modules/Slot/Domain/Contracts/DataTransferObjects/SlotDtoCollection.php
