includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 7

    scanFiles:
          - _ide_helper_models.php

    phpVersion: 80300

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
    excludePaths:
        - ./*/*/UuidDataCast.php
        - ./*/*/SubstituteUuids.php
#
#    checkMissingIterableValueType: false
